.header__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color:#ffffff;
    text-decoration:none;
    transition:linear .335s;
}
.header__link:hover {
    box-shadow:0 1px 0 0 white;
}
.header__link-status {
    box-shadow:0 1px 0 0 white;
    cursor:default;
}
@media (min-width: 320px) and (max-width: 425px) {
    .header__link {
        font-size: 18px;
        line-height: 20px;
    }
}
@media (max-width: 767px)   {
    .header__link{
        font-size:18px;
        line-height:24px;
    }
}
