.footer__copyright {
    margin: 0;
    width: 186px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
@media (min-width: 320px) and (max-width: 425px) {
.footer__copyright {
    font-size: 14px;
    line-height: 14px;
}
}