.place__link{
    max-width: 456px;
    width: max-content;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.place__link:hover {
    transition: .3s linear;
    opacity: 0.8;
}
